.Card {
  width: 250px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  background-color: lightsteelblue;
  border: 1px, steelblue solid;
  border-radius: 5px;
  position: relative;
}

.Card__bookmark {
  position: absolute;
  top: -8px;
  right: 40px;
  width: 25px;
  height: 40px;
  background-color: lightgrey;
  border: 0.5px #999 solid;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.Card__bookmark.active {
  position: absolute;
  top: -5px;
  right: 40px;
  width: 25px;
  height: 40px;
  background-color: hotpink;
}
